
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

/nbproject/*

/src/Controller/TestController.php

/public/images/products/custom-made/*
!/public/images/products/custom-made/.gitkeep
/public/images/products/econom/*
!/public/images/products/econom/.gitkeep
/public/images/products/garun/*
!/public/images/products/garun/.gitkeep
/public/images/products/premium/*
!/public/images/products/premium/.gitkeep
/public/images/products/smarty/*
!/public/images/products/smarty/.gitkeep