{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container gallery-container">

    <h1>Мебельный салон Восторг</h1>

    <p class="page-description text-center">Наша компания работает на рынке мебели уже 100 лет. Конечно же, мы полностью ориентированы на клиента. Предоставляем услуги дизайна. Предложим Вам минимум 10 вариантов того, что Вы хотите. И просто приятно поболтаем)</p>
    <p class="page-description text-center">Любой каприз. Всегда восторг. ♥</p>
    
</div>
    
{% endblock %}