{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container gallery-container">

    <h1>Как с нами связаться</h1>

    <p class="page-description text-center">По email: vostorg@mail.ru</p>
    <p class="page-description text-center">По телефонам: 8 (9__)-___-__-__</p>
    <p class="page-description text-center">И конечно же, Вы всегда можете приехать в наши салоны в Воронеже: ул. Космонавтов, 27а (ТЦ Карусель, 2 этаж), б-р Победы, 23б (ТЦ Арена, 3 этаж)</p>
    <p class="page-description text-center">Любой каприз. Всегда восторг. ♥</p>
    
</div>
    
{% endblock %}