{% extends 'base.html.twig' %}

{% block body %}
    
<div class="container gallery-container">

    <h1>Заказать мебель</h1>

    <p class="page-description text-center">Закажите мебель в салоне Восторг. Для этого достаточно просто написать на электронную почту, которую можно найти в разделе <a class="nav-link" href="{{ path('contacts') }}">Контакты</a> Менеджер свяжется с Вами в ближайшее время.</p><br><br>
    <p class="page-description text-center">Если Вы не нашли того, что искали, у Вас имеются вопросы о качестве/цене/свойствах мебели, смело звоните или <a class="nav-link" href="{{ path('contacts') }}">пишите нам</a>. Мы уверены, что сможем удовлетворить любые ожидания!</p><br><br>
    <p class="page-description text-center">Любой каприз. Всегда восторг. ♥</p>
    
</div>
    
{% endblock %}