{% extends 'base.html.twig' %}

{% block body %}
    <h1>Создание товара</h1>

    {{ form_start(form, {'enctype': "multipart/form-data", 'method': 'post'}) }}
        {{ form_widget(form) }}
        <input type="submit" value="Создать" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('product_index') }}">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
