{% extends 'base.html.twig' %}

{% block body %}
    <h1>Создание товара</h1>

    {{ form_start(form, {'enctype': "multipart/form-data", 'method': 'post'}) }}
        {{form_widget(form)}}
        
        {# TODO: Добавить ajax-подгрузку слотов для фото #}
        {#<div class='addImage'></div>
        <input class='addImageSubmit' type="submit" name="addImage" value="+ Изображение"><br><br>#}
        
        <div id='addedImage' data-index='<?= $index ?>'>
            <input type='file' name='imageFile[]' placeholder='Выберите изображение'><br> 
            <input type='text' name='imageDescription[]' placeholder='Введите описание изображения'><br>
        </div>
            
        <input type="submit" value="Создать" formnovalidate>
    {{ form_end(form) }}
    
    <ul>
        <li>
            <a href="{{ path('product_index') }}">Назад к списку</a>
        </li>
    </ul>
{% endblock %}
