{% extends 'firm/page.html.twig' %}

{% block rows %}
    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div> Модульная система ГАРУН-К представлена широчайшей линейкой более чем из 400 готовых изделий. Помимо этого,
            Вы можете самостоятельно создать уникальный мебельный элемент по своему вкусу, используя стандартные детали,
            как конструктор.</div>
        </div>
        <div class="col-md-6 col-sm-12">
            <img src="{{path('image', {'path': '/images/mainPage/garun-catalog.png', 'format': '600x300xS'})}}">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{path('open_garun_catalog')}}"><h5>Открыть электронный каталог</h5></a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" href="{{path('download_garun_catalog')}}"><h5>Скачать электронный каталог</h5></a>
        </div>
    </div>
{% endblock rows %}
                