<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="utf-8">
    {#    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">#}
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Мебель ТРАНСФОРМЕР и ВСЁ ВСЁ ВСЁ!</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="/css/agency.css" rel="stylesheet">
{#        <link href="/css/agency.min.css" rel="stylesheet">#}
        
        <!-- Подключение ресурсов для странциы фирмы -->
        {#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.css">
        <link rel="stylesheet" href="gallery-grid.css">#}

    </head>

    <body id="page-top">
        {% include 'header/header.html.twig' %}
        
        {% block body %}{% endblock %}
        
        {% include 'footer.html.twig' %}
    </body>

</html>
