<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Мебель-трансформер - это реальность! Компактные кровати-трансформеры сохранят уют и порядок в Вашем доме. 
            Мебель изготовленная на заказ по Вашим эскизам или мебель эконом-класса. Готовые шкафчики - забирайте сегодня 
            или помодульная сборка (с тысячей комбинаций). Спальни, гостиные, детские, прихожие, - у нас есть ВСЁ ВСЁ ВСЁ!">
        <meta name="keywords" content="мебель-трансформер, кровать-трансформер, трансформер, модульная мебель,
            спальня, гостиная, прихожая, мебель, мебель на заказ, мебель воронеж, мебель-трансформер воронеж,
            кровать-трансформер воронеж, салон мебели восторг, восторг воронеж">

        <title>Мебель ТРАНСФОРМЕР и ВСЁ ВСЁ ВСЁ!</title>

        <!-- Bootstrap core CSS -->
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <!-- Custom fonts for this template -->
        <link href="/vendor/font-awesome/css/font-awesome.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

        <!-- Custom styles for this template -->
        <link href="/css/agency.css" rel="stylesheet">
        
    </head>

    <body id="page-top">
        {% include 'header/header.html.twig' %}
        
        {% block body %}{% endblock %}
        
        {% include 'footer.html.twig' %}
    </body>

</html>
